-
  const CONF_PAGE = CONF[PAGE];
  const P_TYPE = (PAGE === 'top')? 'website' : 'article';

meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="robots", content="noindex")
title #{CONF_PAGE.title}

<!--#include virtual="/assets/include/inline_css.html" -->

meta(name="description", content=CONF_PAGE.description)
meta(name="viewport", content="width=device-width, initial-scale=1")
meta(name="format-detection", content="telephone=no")

// OG
meta(property="og:title", content=CONF_PAGE.title)
meta(property="og:description", content=CONF_PAGE.description)
meta(property="og:type", content=P_TYPE)
meta(property="og:image", content=`${CONF_ABSOLUTE_PATH}og.png?update=${CONF_UPDATE_OG}`)
meta(property="og:url", content=CONF_ABSOLUTE_PATH + CONF_PAGE.relativePath)

// twitter card
meta(name="twitter:card", content="summary_large_image")
meta(name="twitter:image", content=`${CONF_ABSOLUTE_PATH}twitter_card.png?update=${CONF_UPDATE_OG}`)

// icon
link(rel="shortcut icon", href="/favicon.ico")
link(rel="canonical", href=CONF_ABSOLUTE_PATH + CONF_PAGE.relativePath)

link(href=`/assets/css/vendor.css`, rel="preload", as="style", onload="this.onload=null;this.rel='stylesheet'")
noscript: link(href=`/assets/css/vendor.css`, rel="stylesheet")
block css

script /*! loadCSS. [c]2017 Filament Group, Inc. MIT License */
  include ../../../node_modules/fg-loadcss/dist/cssrelpreload.min.js